<header class="sheet-header flexrow">
  <img class="profile-img" src="{{document.img}}" data-edit="img" title="{{document.name}}" alt="{{document.name}}" />
  <div class="header-fields">
    <h1 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'Name'}}" /></h1>
    <div class="resource flexrow">
      <label>{{localize "ASHANVIL.Level"}}</label>
      <input type="number" name="system.attributes.level" value="{{system.attributes.level}}" disabled />
    </div>
    <div class="resource flexrow">
      <label>{{localize "ASHANVIL.Health"}}</label>
      <input type="number" name="system.attributes.health.value" value="{{system.attributes.health.value}}" />
      <span>/</span>
      <input type="number" name="system.attributes.health.max" value="{{system.attributes.health.max}}" />
    </div>
    {{#unless buildComplete}}
    <p class="chargen-warning">{{localize "ASHANVIL.ChargenIncompleteBanner"}}</p>
    {{/unless}}
  </div>
</header>
