<div class="form-group">
  <label>{{localize "ASHANVIL.Ancestry"}}</label>
  <span class="identity-value">{{identity.ancestry.name}}</span>
</div>
<div class="form-group">
  <label>{{localize "ASHANVIL.Class"}}</label>
  <span class="identity-value">{{identity.class.name}}</span>
</div>
<div class="form-group">
  <label>{{localize "ASHANVIL.Background"}}</label>
  <span class="identity-value">{{identity.background.name}}</span>
</div>
<button type="button" data-action="openChargen">{{localize "ASHANVIL.ChargenOpen"}}</button>
